body {
  background: #002a32;
}
.main{
  max-width: 1050px;
  margin: 0 auto;
  overflow: hidden;
}

/* Opisuje stopkę */
.footer {
  font-style: italic;
  color: gray;
  position: fixed;
  bottom: 0px;
}






h1 {
  color: rgb(231, 93, 14);
}
h2 {
  color: #ff8360;
}
a {
  color: rgb(0, 72, 139);
  margin-right: 10px;
}

.navigation {
  background-color: #95bf74;
  font-weight: bold;
  position: fixed;
  
}
.navigation--weeks{
  
  right: 10px;
  top: 30px;
}
.h3 {
  color: #ff8660;
  margin-bottom: 0;
}
.link-describe {
  color: #c5e053;
}
strong {
  color: #c5e053;
}
ul{
  list-style-type: none;
}
.index__week {
  display: block;
  
}